/* 
================================================
Variables
================================================
*/
:root {
  /*_______ Font Family _______*/
  --primary-font-700: "HelveticaNeue 700";
  --primary-font-500: "HelveticaNeue 500";
  --primary-font-400: "Helvetica Neue 400";
  
  /*________ Font Size ________*/
  --size-3xl: 6.4rem;
  --size-2xl: 4.8rem;
  --size-xl: 2.6rem;
  --size-lg: 2.4rem;
  --size-md: 2rem;
  --size-sm: 1.6rem;

  /*________ Text Color ________*/
  --primary-color: #333333;
  --secondary-color: #767676;
  --third-color: #ffffff;
  --four-color: #0f0e24;
  --five-color: #000000;
  --six-color: #828282;
  --seven-color: #005c96;
  --eight-color: #d52049;

  /*_________ BG Color _________*/
  --primary-bg: #ffffff;
  --secondary-bg: #f8f9fc;
  --footer-bg: #333333;
}
/* 
================================================
Variables
================================================
*/

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font-400);
  font-size: var(--size-sm);
  color: var(--secondary-color);
  line-height: 171%;
  background-color: var(--primary-bg);
  overflow-x: hidden;
}

/* 
==================================
Bacic Setup
==================================
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--four-color);
  color: var(--third-color);
}

::selection {
  background-color: var(--four-color);
  color: var(--third-color);
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--eight-color);
  height: 6rem;
}

a,
span,
label {
  display: inline-block;
}

ul li {
  list-style: none;
}

a,
a:focus {
  text-decoration: none;
}

button:focus,
input:focus,
textarea:focus,
button,
input,
textarea {
  outline: 0;
  border: 0;
}

button,
input,
textarea {
  background-color: transparent;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 1;
  background-color: transparent;
}

.transition-linear {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

a,
button,
img,
.transition-ease-in-out {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* 
===================================
Start Reuseble Style
===================================
*/
/*
-------
Back to top Btn
-------------------
*/
section {
  padding: 8rem 0 9.6rem;
}

#scroll-up-btn {
  opacity: 0;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 99;
  background: var(--eight-color);
  width: 4.5rem;
  height: 4.5rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.line-150 {
  line-height: 150% !important;
}
/* 
===================================
Start Reuseble Style
===================================
*/

/* 
===================================
Font Family
===================================
*/
.primary-font-700 {
  font-family: var(--primary-font-700);
}

.primary-font-500 {
  font-family: var(--primary-font-500);
}

.primary-font-400 {
  font-family: var(--primary-font-400);
}

/* 
  ===================================
  Font Size
  ===================================
  */
.size-3xl {
  font-size: var(--size-3xl);
  line-height: 125%;
}

.size-2xl {
  font-size: var(--size-2xl);
  line-height: 150%;
}

.size-xl {
  font-size: var(--size-xl);
  line-height: 150%;
}

.size-lg {
  font-size: var(--size-lg);
  line-height: 171%;
}

.size-md {
  font-size: var(--size-md);
  line-height: 150%;
}

.size-sm {
  font-size: var(--size-sm);
  line-height: 171%;
}

/* 
  ===================================
  Text Color
  ===================================
  */
.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}

.four-color {
  color: var(--four-color);
}

.five-color {
  color: var(--five-color);
}

.six-color {
  color: var(--six-color);
}

.seven-color {
  color: var(--seven-color);
}

.eight-color {
  color: var(--eight-color);
}

/* 
  ===================================
  BG Color
  ===================================
  */
.primary-bg {
  background-color: var(--primary-bg);
}

.secondary-bg {
  background-color: var(--secondary-bg);
}

.footer-bg {
  background-color: var(--footer-bg);
}

/* 
=========================================
Start Header Section
=========================================
*/

/*
--------------------
Sticky Menu Style
--------------------
*/
.bg-header {
  padding: 3rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.stick {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 9999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
          box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  -webkit-animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/* 
-----------------------
Navbar Style 
-----------------------
*/
.navBar .menu-show-btn {
  position: relative;
  cursor: pointer;
}

.navBar .menu-show-btn .menu-bar {
  width: 2.4rem;
  height: 0.3rem;
  background-color: #d62049;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

.navBar .main-menu {
  margin-left: 6rem;
}

.navBar .main-menu .menu-hide-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.navBar .main-menu .menu-item:not(:last-child) {
  margin-right: 4rem;
}

.navBar .main-menu .menu-item .menu-link,
.navbar-link-text {
  line-height: 1.9rem;
}

.navBar .main-menu .menu-item .menu-link:hover {
  color: var(--eight-color);
}

.navbar-btn a:not(:last-child) {
  margin-right: 4rem;
}

.navbar-link-btn {
  padding: 1.1rem 4.7rem;
  background-color: #d52049;
  border-radius: 0.9rem;
}

.navbar-link-text:hover {
  color: var(--eight-color);
}

.navbar-link-btn:hover {
  color: var(--third-color);
}
/* 
=========================================
End Header Section
=========================================
*/

/* 
=========================================
Start Hero Section
=========================================
*/
.hero-section {
  background: -o-linear-gradient(341.69deg, #cc1f46 7.02%, #005c96 86.2%);
  background: linear-gradient(108.31deg, #cc1f46 7.02%, #005c96 86.2%);
  padding: 22rem 0 9rem;
}

.hero-text .hero-title {
  margin-bottom: 3.6rem;
}

.hero-text .hero-description {
  max-width: 108.8rem;
}
/* 
=========================================
End Hero Section
=========================================
*/

/* 
=========================================
Start Earn Section
=========================================
*/
.earn-title {
  margin-bottom: 4.8rem;
}

.earn-title .earn-sec-title-small {
  margin-top: 2rem;
  font-size: 3rem;
}

.earn-middle-content {
  margin-bottom: 9.6rem;
}

.earn-img .earn-play-youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.earn-bottom-content {
  padding: 3.5rem 3.5rem 4rem;
  background-color: #d8dce7;
  border-radius: 2rem;
}

.earn-bottom-content .earn-bottom-title {
  margin-top: 4rem;
}
/* 
=========================================
End Earn Section
=========================================
*/

/* 
=========================================
Start We Do Section
=========================================
*/
.we-do-title {
  margin-bottom: 8.5rem;
}

.we-do .we-do-text .we-do-text-title {
  margin: 3.2rem 0 1.6rem;
}
/* 
=========================================
End We Do Section
=========================================
*/

/* 
=========================================
Start Your Health Section
=========================================
*/
.your-health-title {
  margin-bottom: 10.7rem;
}

.your-health-title .your-health-sec-title {
  margin-bottom: 3.2rem;
}

.your-health-slider > * > * {
  padding-left: 0 !important;
}

.your-health-slider-item {
  padding: 2.4rem;
  border-radius: 2rem;
}

.y-h-s-i-1,
.y-h-s-i-5 {
  background-color: #dbacb7;
}

.y-h-s-i-2 {
  background-color: #4bb7bf;
}

.y-h-s-i-3 {
  background-color: #ffabcc;
}

.y-h-s-i-4 {
  background-color: #46b972;
}

.your-health-slider-item .your-health-slider-item-img {
  width: 8.2rem;
  height: 8.2rem;
  border-radius: 1.6rem;
}

.your-health-slider-item .your-health-slider-item-img img {
  width: 4.2rem;
  height: 4.2rem;
}
.your-health-slider-item-text h3 {
  margin: 2.4rem 0 1.6rem;
}
/* 
=========================================
End Your Health Section
=========================================
*/

/* 
=========================================
Start Improve Health Section
=========================================
*/
.improve-health-title {
  margin-bottom: 10rem;
}

.improve-health-title .improve-health-sec-title {
  margin-bottom: 3.2rem;
}

.improve-health {
  border: 1px solid #979797;
  border-radius: 2rem;
}

.improve-health .improve-health-text {
  padding: 2.4rem 3.2rem;
}

.improve-health .improve-health-text h3 {
  margin-bottom: 1.1rem;
}

.improve-health-list .improve-health-list-item img {
  margin-top: 0.7rem;
  margin-right: 1.6rem;
}

.improve-health-list .improve-health-list-item:not(:last-child) {
  margin-bottom: 1.3rem;
}

.improve-health-bottom-desc {
  margin-top: 4.8em;
}

.improve-health-bottom-desc p:nth-child(1) {
  margin-bottom: 4rem;
}
/* 
=========================================
End Improve Health Section
=========================================
*/

/* 
=========================================
Start Rewards Section
=========================================
*/
.rewards-title {
  margin-bottom: 7.2rem;
}

.rewards-title .rewards-sec-title {
  margin-bottom: 3.2rem;
}

.rewards-sec-title-color {
  background: -o-linear-gradient(359.49deg, #cc1f46 1.71%, #2d73b6 110.1%);
  background: linear-gradient(90.51deg, #cc1f46 1.71%, #2d73b6 110.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.rewards-box {
  padding: 2.4rem;
  border-radius: 1.2rem;
}

.rewards-box::before {
  content: "";
  width: 100%;
  height: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem 2rem 0 0;
}

.r-b-1::before {
  background-color: #923939;
}

.r-b-2::before {
  background-color: #828282;
}

.r-b-3::before {
  background-color: #e3c734;
}

.r-b-4::before {
  background-color: #4197d3;
}

.r-b-1 {
  background-color: rgba(146, 57, 57, 0.21);
}

.r-b-2 {
  background-color: rgba(130, 130, 130, 0.19);
}

.r-b-3 {
  background-color: rgba(227, 199, 52, 0.24);
}

.r-b-4 {
  background-color: rgba(65, 151, 211, 0.2);
}

.rewards-box .rewards-box-title {
  margin-bottom: 3rem;
}

.rewards-box-title h3 span:first-child {
  margin-right: 1.5rem;
}

.r-b-1 .rewards-shape-1 {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #923939;
}
.r-b-2 .rewards-shape-2 {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 26px 13px;
  border-color: transparent transparent #bcbcbc transparent;
}

.r-b-3 .rewards-shape-3 {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #e3c734;
}

.r-b-4 .rewards-shape-4 {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background-color: #4197d3;
}

.rewards-box-btn a {
  padding: 0.8rem 1.2rem;
}

.rewards-box-btn a:hover {
  color: var(--eight-color);
}
/* 
=========================================
End Rewards Section
=========================================
*/

/* 
=========================================
Start Register Section
=========================================
*/
.register-title {
  margin-bottom: 5.9rem;
}

.register-title .register-sec-title {
  margin-bottom: 3.2rem;
}

.register-content {
  padding: 3.6rem;
  border-radius: 2rem;
}

.register-content:hover {
  background-color: var(--primary-bg);
}

.register-content:hover :is(h2, p) {
  color: var(--five-color);
  font-weight: 700;
}

.register-content .register-content-number {
  margin-right: 6rem;
}

.register-content-app-store {
  margin-top: 2.8rem;
}

.register-content-app-store a:first-child {
  margin-right: 1.4rem;
}
/* 
=========================================
End Register Section
=========================================
*/

/* 
=========================================
Start Questions Section
=========================================
*/
.questions-title {
  margin-bottom: 4.1rem;
}

.questions-sec-title {
  margin-bottom: 3.2rem;
}

/* ------ Tab Style ------ */
.main-tab {
  margin-top: 3rem;
}

.tab-wrapper .tab {
  overflow: hidden;
  margin-bottom: 1rem;
}

.tab .tablinks:not(:last-child) {
  margin-right: 4.8rem;
}

.tab .tablinks {
  padding: 1.3rem 0;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

/* tab active */
.tab button.active {
  color: var(--seven-color);
  border-bottom: 2px solid var(--seven-color);
}

/* tab hide content */
.main-tab .tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.main-tab .tabcontent .tabcontent-desc {
  font-size: 1.6rem;
  color: #fff;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*------ Accordion Style ------*/

.accordion-i:not(:last-child) {
  margin-bottom: 4.5rem;
}

.accordion-i {
  border: 0 !important;
  border-bottom: 0 !important;
}

.accordion-header .accordion-btn,
.accordion-btn:not(.collapsed) {
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
  color: var(--five-color) !important;
  background-color: transparent !important;
}

.accordion-header .accordion-btn {
  padding: 0;
}

.accordion-btn:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}

.accordion-body-text {
  background-color: transparent;
  padding: 0 !important;
}

.accordion-body-text p {
  margin-top: 2.4rem;
}

/* Accordion Icon style */
.accordion-btn::after {
  width: 4.6rem !important;
  height: 4.6rem !important;
  background-image: url("../images/questions/addition.svg") !important;
  background-repeat: no-repeat;
  background-size: 4.6rem 4.6rem !important;
}

.accordion-btn:not(.collapsed)::after {
  background-image: url("../images/questions/substraction.svg") !important;
}
/* 
=========================================
End Questions Section
=========================================
*/

/* 
=========================================
Start Footer Section
=========================================
*/
.footer {
  padding: 6rem 0 6.5rem;
}

.footer-title {
  margin-bottom: 2.4rem;
}

.footer-page-list .footer-page-list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.footer-page-list .footer-page-list-item .footer-page-list-item-link:hover {
  color: var(--third-color);
}

.footer-social-list .footer-social-list-item:not(:last-child) {
  margin-right: 2.1rem;
}

.footer-social-list .footer-social-list-item .footer-social-list-item-link {
  width: 3.3rem;
  height: 3.3rem;
}

.footer-social-list .footer-social-list-item .footer-social-list-item-link img {
  width: 1.6rem;
  -webkit-filter: invert(25%) sepia(0%) saturate(2255%) hue-rotate(139deg)
    brightness(88%) contrast(107%);
          filter: invert(25%) sepia(0%) saturate(2255%) hue-rotate(139deg)
    brightness(88%) contrast(107%);
}
/* 
=========================================
End Footer Section
=========================================
*/